<div class="container">
  <div class="row main">

    <p id="notice"><%= notice %></p>

    <div class="panel-heading">

        <h1>All Our Authors</h1>

        <table class="table table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>ID</th>
              <th colspan="2"></th>
            </tr>
          </thead>

          <tbody>
            <% @authors.each do |author| %>
              <tr>
                <td><%= author.name %></td>
                <td><%= author.id %></td>
                <td><%= link_to 'Show', authors_path, class: 'btn btn-default' %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <br>

        <%= link_to 'Books', books_path, class: 'btn btn-info' %>

      </div>

  </div>
</div>
