<div class="container">
  <div class="row main text-center">

    <p id="notice"><%= notice %></p>

    <h1>Viewing Book Details</h1>
    <p>
      <strong>Title:</strong>
      <%= @book.title %>
    </p>

    <p>
      <strong>Author:</strong>
      <!-- <%= @book.author_id %> -->
      <%= @book.author.name %>
    </p>

    <%= link_to 'Edit', edit_book_path(@book), class: 'btn btn-primary' %>
    <%= link_to 'Back', books_path, class: 'btn btn-info' %>

  </div>
</div>